
.cart .title-cart {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.list-cart {
    display: flex;
}
.image-pd {
    width: 120px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 1em;
}

.image-pd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.component-left {
    display: flex;
}

.name-pd {
   wor
}