.list-cart {
    display: flex;
    flex: 1;
}

.product_check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
}
.product_image {
    width: 120px;
}
.product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 5px;
}

.product_info {
    position: relative;
    padding-left: 16px;
    display: flex;
}
.title-cart {
    text-align: center;
}

.cart-formPage {
    display: flex;
}

.product-relative {
    flex: 0 0 calc(100% - 168px);
    width: calc(100% - 168px);
}
.product-relative a{
    color: #36393b;
}

.item_remove {
    text-align: right;
    font-size: 30px;
}

.price-prd span {
    font-size: 16px;
    color: rgb(81 184 71);
}

.


.price-prd del {
    font-size: 12.8px;
    margin: 0 0 0 8px;
    color: rgb(54, 57, 59);
}
.component-left {
    display: flex;
    align-items: center;
}