

.list-cart {
    display: flex;
}
.image-pd {
    width: 120px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: ;
}

.image-pd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.component-left {
    display: flex;
}